
body { font-family: sans-serif; }

.inventory {
    display: flex;
    justify-content: flex-start;
}

.slot {
    width: 80px;
    height: 80px;
    border-width: 2px;
    border-style: solid;
    border-color: #444;
    margin: 2px;
    display: flex;
    justify-content: center;
}

.slot img {
    width: 10%;
    height: 10%;
}

.count {
    position: absolute;
    bottom: 5px;
    right: 8px;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 4px;
}
